{
  "api_key": "MY_NEXUS_MODS_API_KEY",
  "search_folder": "MY_SEARCH_FOLDER",
  "mod_id": "MY_MOD_ID",
  "name": "MY_MOD_NAME",
  "file_category": "main",
  "description": "MY_MOD_DESCRIPTION",
  "primary_mod_manager_download": true,
  "allow_mod_manager_download": true,
  "show_requirements_pop_up": false,
  "mod_file_id": "MY_MOD_FILE_ID",
  "archive_existing_file": false,
  "previous_version_id": null
}
